$main-color = #6C8373
$gradient-color-1 = #26473C
$gradient-color-2 = #4A5128
$main-font = Helvetica, -apple-system, BlinkMacSystemFont, Microsoft YaHei, "Segoe UI", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"

@import "partial/_base.styl"
@import "partial/_content.styl"
@import "partial/_highlight.styl"
@import "partial/_custom.styl"