.widget-name
  font-family: "Microsoft YaHei"
  font-size: 24px
  font-weight: 600

.widget-desc
  font-family: "Microsoft YaHei"
  font-size: 16px
  font-weight: 400

.widget-categories
  font-family: "Microsoft YaHei"

.widget-recent-posts
  font-family: "Microsoft YaHei"